<mat-toolbar color="primary">
  <!-- <span
    *ngIf="isLoggedIn"
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </span> -->
  <span routerLink="/" class="title">ExamPortal</span>
  <span class="example-spacer"></span>

  <span *ngIf="!isLoggedIn" routerLink="/login" class="mr10 radius">
    Login
  </span>

  <span *ngIf="!isLoggedIn" routerLink="/signup" class="mr10 radius">
    Signup
  </span>
  <span
    *ngIf="isLoggedIn && user"
    class="mr10 radius"
    routerLink="/admin/profile"
  >
    {{ user.username }}
  </span>

  <span *ngIf="isLoggedIn" (click)="logout()" class="mr10 radius">
    Logout
  </span>
</mat-toolbar>

<!-- <mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="isLoggedIn">
    <app-sidebar></app-sidebar>
  </mat-drawer>

  <div class="example-sidenav-content">
    <app-dashboard></app-dashboard>
  </div>
</mat-drawer-container> -->
<!-- <ng-container
  *ngIf="user.type == 'admin'; then admin; else otheruser">
</ng-container>

<ng-template #admin>
  <div>
    Admin.
    <li routerLinkActive="active" >
          <a routerLink="/adminDashboard">
            <i class="now-ui-icons education_atom"></i>
            <p>Admin Dashboard</p>
          </a>
        </li>
  </div>
</ng-template>
<ng-template #otheruser>
  <div>
    other user 
  </div> -->