<mat-toolbar color="primary">
  <button
    routerLink="/"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="/">Exam</span>
  <span class="example-spacer"></span>

  <button
    *ngIf="!isLoggedIn"
    mat-button
    routerLink="/login"
    class="mr10 radius"
  >
    Login
  </button>

  <button
    *ngIf="!isLoggedIn"
    routerLink="/signup"
    mat-button
    class="mr10 radius"
  >
    Signup
  </button>
  <button
    *ngIf="isLoggedIn && user"
    mat-button
    class="mr10 radius"
    routerLink="/admin/profile"
  >
    {{ user.username }}
  </button>

  <button *ngIf="isLoggedIn" (click)="logout()" mat-button class="mr10 radius">
    Logout
  </button>
</mat-toolbar>
