<mat-card>
  <mat-action-list>
    <div mat-subheader>Menu</div>

    <mat-list-item  routerLink="/admin"> <mat-icon class="mr10">home</mat-icon>Home</mat-list-item>
    <mat-list-item routerLink="/admin/profile">
      <mat-icon class="mr10">account_circle</mat-icon>Profile</mat-list-item
    >
    <mat-list-item  routerLink="/admin"> <mat-icon class="mr10">list</mat-icon>Catagories</mat-list-item>
    <mat-list-item  routerLink="/admin"> <mat-icon class="mr10">add</mat-icon>Add Catagory</mat-list-item>
    <mat-list-item  routerLink="/admin"> <mat-icon class="mr10">list</mat-icon>Quizzes</mat-list-item>
    <mat-list-item  routerLink="/admin"> <mat-icon class="mr10">add</mat-icon>Add Quiz</mat-list-item>
  </mat-action-list>
</mat-card>
